/* App.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.card-info {
    flex-grow: 1;
    overflow: hidden;
  }
  
  .card-info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  